{% extends 'base.html.twig' %}

{% block title %}Supprimer le propriétaire{% endblock %}

{% block body %}
    <div class="container">
        <h1>Êtes-vous sûr de vouloir supprimer le propriétaire ??</h1>
        {{ form(form) }}
        <a href="{{ path("app_home") }}" class="btn btn-warning">Annuler</a>
    </div>
{% endblock %}

